In [4]:
def pandas ():
  import pandas as pd

  data = {'first_name': ['Sigrid', 'Joe', 'Theodoric','Kennedy', 'Beatrix', 'Olimpia', 'Grange', 'Sallee'],
          'last_name': ['Mannock', 'Hinners', 'Rivers', 'Donnell', 'Parlett', 'Guenther', 'Douce', 'Johnstone'],
          'age': [27, 31, 36, 53, 48, 36, 40, 34],
          'amount_1': [7.17, 1.90, 1.11, 1.41, 6.69, 4.62, 1.01, 4.88],
          'amount_2': [8.06,  "?", 5.90,  "?",  "?", 7.48, 4.37,  "?"]}

  datosDataFrame = pd.DataFrame(data)

  print(datosDataFrame)

  #Acaba la implementacion

  datosDataFrame.to_csv('example.csv')

In [ ]:
def archivoTXT():

  listaDeDatos = ['linea1', 'linea2', 'linea3', 'linea4']
  fic = open("text_1.txt", "w") 
  # se abre el archivo para escribir sobre el

  for line in listaDeDatos:
      fic.write(line)
      fic.write("\n")
      
  fic.close()
# archivoTXT()


def archivoTEXT2():
  listaDeDatos = ['linea1', 'linea2', 'linea3', 'linea4']
  fic = open("text_3.txt", "w")
  fic.writelines("%s\n" % s for s in listaDeDatos)
  fic.close()
archivoTEXT2()

EJERCICIO CLASE 18 TITANIC

In [12]:
import pandas as pd

def lecturaArchivoCSV ():
    dataFrame = pd.read_csv('titanic3.csv')
    print(dataFrame)
    dataFrame.info()
    
lecturaArchivoCSV()

      pclass  survived                                             name  \
0          1         1                    Allen, Miss. Elisabeth Walton
1          1         1                   Allison, Master. Hudson Trevor
2          1         0                     Allison, Miss. Helen Loraine
3          1         0             Allison, Mr. Hudson Joshua Creighton
4          1         0  Allison, Mrs. Hudson J C (Bessie Waldo Daniels)
...      ...       ...                                              ...
1304       3         0                             Zabour, Miss. Hileni
1305       3         0                            Zabour, Miss. Thamine
1306       3         0                        Zakarian, Mr. Mapriededer
1307       3         0                              Zakarian, Mr. Ortin
1308       3         0                               Zimmerman, Mr. Leo

         sex      age  sibsp  parch  ticket      fare    cabin embarked boat  \
0     female  29.0000      0      0   24160  211.3375       B5        S    2
1       male   0.9167      1      2  113781  151.5500  C22 C26        S   11
2     female   2.0000      1      2  113781  151.5500  C22 C26        S  NaN
3       male  30.0000      1      2  113781  151.5500  C22 C26        S  NaN
4     female  25.0000      1      2  113781  151.5500  C22 C26        S  NaN
...      ...      ...    ...    ...     ...       ...      ...      ...  ...
1304  female  14.5000      1      0    2665   14.4542      NaN        C  NaN
1305  female      NaN      1      0    2665   14.4542      NaN        C  NaN
1306    male  26.5000      0      0    2656    7.2250      NaN        C  NaN
1307    male  27.0000      0      0    2670    7.2250      NaN        C  NaN
1308    male  29.0000      0      0  315082    7.8750      NaN        S  NaN

       body                        home.dest
0       NaN                     St Louis, MO
1       NaN  Montreal, PQ / Chesterville, ON
2       NaN  Montreal, PQ / Chesterville, ON
3     135.0  Montreal, PQ / Chesterville, ON
4       NaN  Montreal, PQ / Chesterville, ON
...     ...                              ...
1304  328.0                              NaN
1305    NaN                              NaN
1306  304.0                              NaN
1307    NaN                              NaN
1308    NaN                              NaN

[1309 rows x 14 columns]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

In [20]:
def lecturaArchivoCSV():
    
    promedioEdades = dataFrame['age'].mean()
    print('El promedio de edades en el archivo titanic es: ', promedioEdades)

    edadMayor = dataFrame['age'].max()
    print('La edad mayor en el archivo titanic es: ', edadMayor)

    edadMenor = dataFrame['age'].min()
    print('La edad menor en el archivo titanic es: ', edadMenor)

    tarifaPromedio = dataFrame['fare'].mean()
    print('La tarifa promedio en el archivo titanic es: ', tarifaPromedio)
    
    return promedioEdades, edadMayor, edadMenor, tarifaPromedio

promedioEdades, edadMayor, edadMenor, tarifaPromedio = lecturaArchivoCSV()

El promedio de edades en el archivo titanic es:  29.8811345124283
La edad mayor en el archivo titanic es:  80.0
La edad menor en el archivo titanic es:  0.1667
La tarifa promedio en el archivo titanic es:  33.29547928134572

In [21]:
promedioEdades, edadMayor, edadMenor, tarifaPromedio = lecturaArchivoCSV()
diccionarioSalida = dict()
diccionarioSalida['promedioEdades'] = promedioEdades
diccionarioSalida['edadMayor'] = promedioEdades
diccionarioSalida['edadMenor'] = promedioEdades
diccionarioSalida['tarifaPromedio'] = tarifaPromedio

print(diccionarioSalida)

El promedio de edades en el archivo titanic es:  29.8811345124283
La edad mayor en el archivo titanic es:  80.0
La edad menor en el archivo titanic es:  0.1667
La tarifa promedio en el archivo titanic es:  33.29547928134572
{'promedioEdades': 29.8811345124283, 'edadMayor': 29.8811345124283, 'edadMenor': 29.8811345124283, 'tarifaPromedio': 33.29547928134572}

In [4]:
def funcionReto5(nombreDelArchivo: str) -> dict:
    import pandas as pd
        
    dataFrame = pd.read_csv(nombreDelArchivo)
    promedioEdades = dataFrame['age'].mean()
    edadMayor = dataFrame['age'].max()
    edadMenor = dataFrame['age'].min()
    tarifaPromedio = round(dataFrame['fare'].mean(), 2)
        
    diccionarioSalida = dict()
    diccionarioSalida['promedioEdades'] = promedioEdades
    diccionarioSalida['edadMayor'] = promedioEdades 
    diccionarioSalida['edadMenor'] = promedioEdades
    diccionarioSalida['tarifaPromedio'] = tarifaPromedio
        
    return diccionarioSalida
    
print(funcionReto5('titanic3.csv'))

{'promedioEdades': 29.8811345124283, 'edadMayor': 29.8811345124283, 'edadMenor': 29.8811345124283, 'tarifaPromedio': 33.3}

In [1]:
def funcionReto5 (nombreDelArchivo: str) -> dict:
    import pandas as pd
    dataFrame = pd.read_csv(nombreDelArchivo)
    # print (dataFrame)
    
    # dataFrame.info()
    promedioDeEdades = dataFrame['age'].mean()
    edadMayor = dataFrame['age'].max()
    edadMenor = dataFrame['age'].min()
    promedioTarifa = round ( (dataFrame['fare'].mean()), 2)

    # El diccionario de salida, se puede armar al final
    # o al principio
    diccionarioSalida = dict()
    diccionarioSalida ['promedioEdades'] = promedioDeEdades
    diccionarioSalida ['edadMayor'] = edadMayor 
    diccionarioSalida ['edadMenor'] = edadMenor
    diccionarioSalida ['promedioTarifa'] = promedioTarifa

    return diccionarioSalida


print (funcionReto5('titanic3.csv'))

{'promedioEdades': 29.8811345124283, 'edadMayor': 80.0, 'edadMenor': 0.1667, 'promedioTarifa': 33.3}